.features {
  display: flex;
  align-items: center;
  padding-top: 2rem 0;
  width: 100%;
  margin-top: 25px;
}

.featureSvg {
  height: auto;
  width: 60%;
}

@media (max-width: 992px) {
  .featureSvg {
    height: 100%;
    width: 80%;
  }
}
